<a href="https://colab.research.google.com/github/Datajacker/Common-error-in-python/blob/master/Common_python_error.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
t = (1, 2, 4, 3)
t[1:-1]
# What will be the output of this code?
# a) (1,2)
# b) (1,2, 4)
# c) (2, 4)
# d) (2, 4,3)

(2, 4)

In [0]:
def myfunc(a):
  a = a + 2
  a = a*2
  return a

print(myfunc(2))
# What will be the output of this code?

8

In [0]:
s = input()
b =int(int(7/2)*s)
print(b)
# What will be the output of this code?
#a) 333
#b) 10.5
#c) 9
#d) 333.0
# s is a string and 7/2 will be integer. Then 3 of the repetive operated makes it 333

3
333

In [0]:
a = 2
def p():
  global a
  a = 4

print(a)
# What will be the output of this code?

2

In [0]:
s = 'PythonIsLove'
res = s[-4:-10:-2]
print(res)

LIo

In [0]:
a = '1_111'
print(float(a))
# What will be the output of this code?
#a) 1.111
#b) 1111.0
#c) 1111
#d) None
# Because in python underscore is used to represent big numbers but it is a normal number as we are using float, it just gives us a floating value of int but a.0

1111.0

In [0]:
s = [1,2,2,3,2,9,6,5]
t =set(s)
s2 = [3,4,5,4]
print(len(t) + sum(s2))
# What will be the output of this code?

22

In [0]:
t = [0]
s1 = s2 = t
s1 = s1 + [1]
s2 += [1]
print(t, s1, s2)
# What will be the output of this code?
t = [0]
s1 = s2 = t
s1 = s1 + [1]
s2 += [2]
print(t, s1, s2)
# t is [0, 1] Because t is the list, any change we make to the list will come back to t.

[0, 1] [0, 1] [0, 1]
[0, 2] [0, 1] [0, 2]

In [0]:
# What will be the output of the following code?
sample_tuple = ('python_scripts', 119410)
print(sample_tuple * 2)
a = sample_tuple * 2
print(a)
# Although tuple is immutable, we define new tuple via modifying the tuple as a whole.

('python_scripts', 119410, 'python_scripts', 119410)
('python_scripts', 119410, 'python_scripts', 119410)

In [0]:
a = ['p', 'y','t','h', 'n']
b = sorted(a)
print(a, b)
# The sorted method doesn't change the original value in a.

['p', 'y', 't', 'h', 'n'] ['h', 'n', 'p', 't', 'y']

In [0]:
# The difference between 'or' and 'and'
a = True
B = False
C = False
if a or b and c:
   print("Hiiee")
else:
   print('Byee')

Hiiee

In [0]:
a = True
B = False
C = False
if a or b and c:
   print("Hiiee")
   print(b, c)
else:
   print('Byee')

Hiiee

NameError: ignored

In [0]:
x = '123463'
d = x[1] + x[4]
print(d)
# x[1]&x[4] are list not number

26

In [0]:
m = 'PYTHON'

i = 'i'

while i in m:
  print(i, end = ' ')

# A) None
# B) PYTHON
# C) i i i i i i
# D) P Y T H O N
# At this place, i is a variable. 'i' is not in m, so there is no ourput

In [0]:
m = 'PYTHiN'

i = 'i'

while i in m:
  print(i, end = ' ')

# This one will print 'i' without stop.

In [0]:
m = 'PYTHON'

i = 'i'

for i in m:
  print(i, end = ' ')

P Y T H O N

In [0]:
n = [1, 34, 55, 4, 8]
x = n[-3::-1]
print(x)
# step = -1, will reverse the list, starting from the index -3

[55, 34, 1]

In [0]:
b = 50
def f(a, b=b):
  return a + b

b = 20
print(f(1))

# The value of b doesn't change

51

In [0]:
# What will be the output of this code?
num = 0
for i in range(5, 0, -1):
  num += i > num
  print(i)
  print(num)

print(num)
# At this place i>num is boolean output. If it is true, the output will be 1; otherwise, it will be 0.

5
1
4
2
3
3
2
3
1
3
3

In [0]:
# What will be the output of the following code?
# A) {'A', 1, 3, 'D', 'E'}
# B) None
# C) {'A', 1, 3, 'D', 'E', 10}
# D) Invalid Syntax
set_A = {'a', 1, 3, 'D', 'E'}
set_B = set_A.add(10)
print(set_B)
# add method doesn't return anything. It just adds the new element to the set. Here, there will be no output.

None

In [0]:
tup = 0, 1, 2
lst =[tup]

lst.append(3)
print(lst)
lst.pop(0)
print(lst)
print(len(lst))
# What will be the output of this code, print(len(lst))?
# When forming the list, tup gets into the list as a tuple. When the list is popped, the first element of the list is removed.

[(0, 1, 2), 3]
[3]
1

## Find()
https://www.w3schools.com/python/ref_string_find.asp

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [0]:
# What will be the output of this code?
s = 'apple'
x = s.find('p')
y = s.find('f')
z = s.find('')
print(x,y,z)
print(x+y+z)
# 1 for string found. -1 for string not found. 0 for ''

1 -1 0
0

In [0]:
# What is the output of the following code?
mylist = (1,2,3,4,5)
mylist[0] = 10
for x in mylist:
  print(x)

TypeError: ignored

In [0]:
x = ["a", 'i', 'h', 'c']
for i in x:
  i.upper()
print(x[2]+ x[1])
# Correct output? 
# A) IA
# B) HI
# C) hi
# D) Error
# The original values in x do not change.

hi

In [0]:
s = [100, 84, 63, 97]
s_sort = s.sort()
print(s_sort)
print(s[::-1][0])
print(s)

# What will be the output of this code?

None
100
[63, 84, 97, 100]

In [0]:
# What's the output?
d = {bool(-1): {0},
     True    : {0, 1},
     1       : {0, 1, 2},
     (2,)    : {0, 1, 2, 3}
     }
print(len(d))
print(d)
print(bool(-1))
print(bool(1))
print(bool(0))
# When the key is the same, the later value will overwrite the previous one.

2
{True: {0, 1, 2}, (2,): {0, 1, 2, 3}}
True
True
False

In [0]:
#What is the output of the code?
mytuple = [x for x in range(1, 6)]
print(mytuple)

[1, 2, 3, 4, 5]

## Bitwise Operations on Integer Types¶
[link text](https://docs.python.org/3.4/library/stdtypes.html)

Bitwise operations only make sense for integers. Negative numbers are treated as their 2’s complement value (this assumes a sufficiently large number of bits that no overflow occurs during the operation).

The priorities of the binary bitwise operations are all lower than the numeric operations and higher than the comparisons; the unary operation ~ has the same priority as the other unary numeric operations (+ and -).

This table lists the bitwise operations sorted in ascending priority:

Operation	Result	Notes
x | y	bitwise or of x and y	 
x ^ y	bitwise exclusive or of x and y	 
x & y	bitwise and of x and y	 
x << n	x shifted left by n bits	(1)(2)
x >> n	x shifted right by n bits	(1)(3)
~x	the bits of x inverted

In [0]:
# What does 3^4 evaluate to?
3^4

7