<a href="https://colab.research.google.com/github/Datajacker/Common-error-in-python/blob/master/Python_Beginner_Cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This cheat sheet list the major concepts and codes for Python**

## Variables and String
Variables are used to store values. A string is a series of characters, surrounded by single or double quotes.

In [0]:
# Hello World!
print('Hello World!')

Hello World!

In [0]:
# Concatenation (combining strings)
first_name = 'Albert'
last_name = 'Einstein'
full_name = first_name + ' ' + last_name
print(full_name)

Albert Einstein

## List

A list stores a series of items in a particular order. You access items using an index, or within a loop.

In [0]:
# Make a string
bikes = ['trek', 'redline', 'giant']
# Get the items from the list
a = bikes[0]
b = bikes[-1]
print(a + '\n'+ b)

trek
giant

In [0]:
#Looping through a list
for bike in bikes:
  print(bike)

trek
redline
giant

In [0]:
# Adding items to the list append
name_1 = ['Baihe']
bikes.append(name_1)
bikes

['trek', 'redline', 'giant', ['Baihe']]

In [0]:
# Adding items to the list
name_2 = ['Black']
bikes.extend(name_2)
bikes
# When adding list to the list, append directly adds the list into the list while extend adds the element of the list into the list.

['trek', 'redline', 'giant', ['Baihe'], 'Black']

In [0]:
# Inseerting element at a particular position
bikes = ['trek', 'redline', 'giant']
print(bikes)
bikes.insert(0, 'hero')
print(bikes)

['trek', 'redline', 'giant']
['hero', 'trek', 'redline', 'giant']

In [0]:
# Removing elements
# We can remove elements by their position in a list, or by the value of the item. If we remove an item by its value, python will only remove the first item that has that value.

# Deleting an element by its position
bikes = ['trek', 'redline', 'giant','giant']
del bikes[0]
print(bikes)

# Removing 
bikes = ['trek', 'redline', 'giant','giant']
bikes.remove('giant')
print(bikes)

['redline', 'giant', 'giant']
['trek', 'redline', 'giant']

In [0]:
#Creating numeric list
squares_1 = []
for i in range(1, 11):
  squares_1.append(i**2)
squares_2 = [x**2 for x in range(1, 11)]
print('squares_1:', squares_1)
print('squares_2:', squares_2)

squares_1: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
squares_2: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [0]:
#slicing a list
first_two = squares_1[:2]
#copying a list
all = squares_1[:]
print(first_two)
print(all)

[1, 4]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [0]:
# Popping elements
# If you want to work with an element removed from the list, we can 'pop' the element. By default, pop() returns the last element in the list, but you can also pop elements from any position in the list.
squares_1 =[]
for i in range(1, 11):
  squares_1.append(i**2)
print(squares_1)

#pop the last item from the list
last = squares_1.pop()
print(last)

squares_1 =[]
for i in range(1, 11):
  squares_1.append(i**2)
print(squares_1)

# pop the designated item from the list
lasts = squares_1.pop(3)
print(lasts)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
16

In [0]:
# Sorting a list
# The sort() method changes the order of a list permanently.
# The sorted() function returns a copy of the list, leaving the original list unchanged. We can sort the items in a list in alphabetical order, or reverse alphabetical ordr. You can also reverse the orginal order of the list.
# keep in mind that lowercase and uppercase letters may affect the sort order

In [0]:
# Sorting a list permanently
user = ['val', 'bob', 'mia', 'ron', 'ned']
user.sort()
print(user)

['bob', 'mia', 'ned', 'ron', 'val']

In [0]:
# Sorting a list permanently in reverse alphabetical order
user = ['val', 'bob', 'mia', 'ron', 'ned']
user.sort(reverse= True)
print(user)

['val', 'ron', 'ned', 'mia', 'bob']

In [0]:
# Sorting a list temporarily
user = ['val', 'bob', 'mia', 'ron', 'ned']
print(sorted(user))
print(sorted(user, reverse= True))
print(user)

['bob', 'mia', 'ned', 'ron', 'val']
['val', 'ron', 'ned', 'mia', 'bob']
['val', 'bob', 'mia', 'ron', 'ned']

In [0]:
# Looping through all the items in a list
users = ['val', 'bob', 'mia', 'ron', 'ned']

for user in users:
  print('Welcome, ' + user +'!')

Welcome, val!
Welcome, bob!
Welcome, mia!
Welcome, ron!
Welcome, ned!

### Simple statistics


Minimum, maximum, sum of the list

In [0]:
num = [x for x in range(1, 100, 2)]
print(min(num), max(num), sum(num))

1 99 2500

## Tuple

Tuples are similar to list, but the items in a tuple can't be modified.

In [0]:
# Making a tuple
squares = (x**2 for x in range(1, 11))
print(squares)

<generator object <genexpr> at 0x7f964547be08>

## Dictionary

Dictionaries store connections between pieces of information. Each item in a dictionary is a key-value pair.

In [0]:
# A simple dictionary
alien = {'color': 'green', 'point': 5}

# Accessing a value
print("The alien's color is " + alien['color'])

The alien's color is green

In [0]:
# Getting the value with get()
alien = {'color': 'green', 'point': 5}

alien_color = alien.get('color')
alien_point = alien.get('point', 0)

print(alien_color, alien_point)

alien_0 = {'color': 'green'}

alien_0_color = alien_0.get('color')
alien_0_point = alien_0.get('point', 1)
print(alien_0_color, alien_0_point)

green 5
green 1

In [0]:
# Adding a new key-value pair
alien['x_position'] = 0
print(alien)

{'color': 'green', 'point': 5, 'x_position': 0}

In [0]:
#Looping through all key-value pairs
fav_numbers = {'eric': 17, 'ever': 4}
for name, number in fav_numbers.items():
  print(name + ' loves ' + str(number))

eric loves 17
ever loves 4

In [0]:
#Looping through all keys
fav_numbers = {'eric': 17, 'ever': 4}
for name in fav_numbers.keys():
  print(name + ' loves '+ str(fav_numbers[name]))

eric loves 17
ever loves 4

In [0]:
#Looping through all values
fav_numbers = {'eric': 17, 'ever': 4}
for number in fav_numbers.values():
  print(list(fav_numbers.keys())[list(fav_numbers.values()).index(number)] + ' loves ' + str(number))

eric loves 17
ever loves 4

In [0]:
# Removing key-value pairs
alien = {'color':'green', 'points': 5}
print(alien)

del alien['points']
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green'}

### Nesting - A list of dictionaries

It is useful to store a set of dictionaries in a list.

In [0]:
# Storing disctionaries in a list

users = []

new_user = {
    'last': 'fermi',
    'first': 'enrico',
    'username': 'efermi'
}
users.append(new_user)

new_user = {
    'last': 'curie',
    'first': 'marie',
    'username': 'mcurie'
}
users.append(new_user)

# Show all information about each user
for user in users:
  for k, v in user.items():
    print(k + ": " +v)
    print('\n')

# The other method to achieve this is to directly create the nesting in a list

last: fermi


first: enrico


username: efermi


last: curie


first: marie


username: mcurie

### Nesting -- Lists in a dictionary

Storing a list inside a dicitionary allows you to associate more than one value with each key.

In [0]:
# Storing lists in a dictionary
fav_language = {
    'Jan': ['python', 'ruby'],
    'Sarah': ['C++'],
    'Edward': ['ruby', 'go'],
    'phil': ['python', 'java']
}

for name, langs in fav_language.items():
  print('Name:' + name)
  print('Favorite language: ')
  for lang in langs:
    print('- ' + lang)

Name:Jan
Favorite language:
- python
- ruby
Name:Sarah
Favorite language:
- C++
Name:Edward
Favorite language:
- ruby
- go
Name:phil
Favorite language:
- python
- java

## Set

Unordered collections of unique elements

https://docs.python.org/2/library/sets.html

In [0]:
# Convert a list to a set
squares_2 = [x**2 for x in range(1, 11)]
s = set(squares_2)
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [0]:
squares_2 = [x**2 for x in range(1, 11)]
squares = squares_2 + squares_2
print(squares)
print(set(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

## Input & Output
Our program can prompt the user for input. All input is stored as a string.

https://docs.python.org/3/tutorial/inputoutput.html

In [0]:
# Prompting for a value
name = input("What's your name?")
print('Hello, ' + name +'!')

What's your name?Jia
Hello, Jia!

In [0]:
# Prompting for numeric input
age = int(input('How old are you?'))
print('I am '+ str(age))

How old are you?20
I am 20

In [0]:
# Output format
year = 2020
event = 'Taste of Edmonton'
print(f'{event} in {year} has been cancelled.')
print('{0} in {1} has been cancelled.'.format(year, event))
print('{1} in {0} has been cancelled.'.format(year, event))

Taste of Edmonton in 2020 has been cancelled.
2020 in Taste of Edmonton has been cancelled.
Taste of Edmonton in 2020 has been cancelled.

## Range function

`range(start, stop, step)`. 


**start**	Optional. An integer number specifying at which position to start. Default is 0

**stop**	Required. An integer number specifying at which position to end.

**step**	Optional. An integer number specifying the incrementation. Default is 1

In [0]:
num = [x for x in range(1, 100, 2)]
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## If statements and while loops
**If** statements allow you to examine the current state of a program and respond appropriately to that state. You can write a simple if statement that checks one condition, or you can create a complex series of if statements that idenitfy the exact conditions you're looking for. 

**While** loops run as long as certain conditions remain true. You can use while loops to let your programs run as long as your users want them to.

In [0]:
# Letting the user choose when to quit
msg = ''
while msg != 'quit':
  msg= input("What's your message ?")
  print(msg)

What's your message ?quit
quit

In [0]:
# Conditional Tests
# A conditional test is an expression that can be evaluated as True or False. Python uses the values True and False to decide whether the code in an if statement should be executed.

# Checking for equality
car = 'bmw'
car == 'bmw'

True

In [0]:
# Ignoring case when making a comparison
car = 'Audi'
print(car == 'audi')
print(car.lower() == 'audi')

False
True

In [0]:
# Checking for inequality
topping = 'mushroom'
topping != 'valina'

True

In [0]:
# Checking multiple conditions
#You can check multiple conditions at the same time. The and operator returns True if all the conditions listed are True. The or operator returns True if any condition is True.

# Using and to check multiple conditions
age_0 = 20
age_1 = 23
print(age_0 >= 21 and age_1 >= 21)
print(age_0 >=20 and age_1 >= 20)

False
True

In [0]:
# Using or to check multiple cconditions
age_0 = 20
age_1 = 23
print(age_0 >= 21 or age_1 >= 21)

True

In [0]:
# If statements
# simple if statement
age = 18
if age >= 18:
  print("You're old enough to drink")

You're old enough to drink

In [0]:
# if-else statement
age =17
if age >= 18:
  print("You're old enough to drink")
else:
  print("You can't drink yet")

You can't drink yet

In [0]:
# if-elif-else statement
age =12
if age< 4:
  price = 0
elif age< 18:
  price = 5
else:
  price =10

print('Your cost is $'+ str(price)+ '.')

Your cost is $5.

In [0]:
# Conditional tests with lists
# Testing if a value in a list
players = ['al','bea', 'cyn','dale']
'al'in players

True

In [0]:
# Testing if a value not in a list
user = 'erin'
if user not in players:
  print('You can play.')

You can play.

In [0]:
# Checking if a list is empty
players = ['erin']
if players:
  for player in players:
    print('Players: ' + player.title())
else:
  print('We have no player yet!')

Players: Erin

In [0]:
# While loops
# A while loop repeats a block of codes as long as condition is True

# counting to 5
current_number = 1
while current_number <=5:
  print(current_number)
  current_number +=1

1
2
3
4
5

In [0]:
# Letting the user to choose when to quit
prompt = "\nTell me something, and I'll "
prompt += "repeat it back to you."
prompt += "\nEnter 'quit' to end this program."

message = ''
while message != 'quit':
  message = input(prompt)

  if message != 'quit':
    print(message)

Tell me something, and I'll repeat it back to you.
Enter 'quit' to end this program.Hi
Hi

Tell me something, and I'll repeat it back to you.
Enter 'quit' to end this program.quit

In [0]:
# Using a flag
prompt = "\nTell me something, and I'll "
prompt += "repeat it back to you."
prompt += "\nEnter 'quit to end this program."

active  = True
while active:
  message = input(prompt)

  if message == 'quit':
    active = False
  else:
    print(message)

Tell me something, and I'll repeat it back to you.
Enter 'quit to end this program.Hello
Hello

Tell me something, and I'll repeat it back to you.
Enter 'quit to end this program.quit

In [0]:
# Using break to exit a loop
prompt = "\nWhat cities have you visited?"
prompt = "\nEnter 'quit' when you are done."

while True:
  city = input(prompt)

  if city == 'quit':
    break
  else:
    print(f'I have been to {city}!')

Enter 'quit' when you are done.Beijing
I have been to Beijing!

Enter 'quit' when you are done.Hong Kong
I have been to Hong Kong!

Enter 'quit' when you are done.quit

In [0]:
# Using continue to skip over certain items when looping through a list or dictionary
# The different usage of continue and break
banned_users = ['eve', 'fred', 'gary', 'helen']

prompt = "\nAdd a player to your team."
prompt = "\nEnter 'quit' when you're done."

players =[]
while True:
  player = input(prompt)
  if player == 'quit':
    break
  elif player in banned_users:
    print(player + " is banned!")
    print(player)

  else:
    players.append(player)


print("\nYour team:")
for player in players:
  print(player)

Enter 'quit' when you're done.eve
eve is banned!
eve

Enter 'quit' when you're done.quit

Your team:

In [0]:
banned_users = ['eve', 'fred', 'gary', 'helen']

prompt = "\nAdd a player to your team."
prompt = "\nEnter 'quit' when you're done."

players =[]
while True:
  player = input(prompt)
  if player == 'quit':
    break
  elif player in banned_users:
    print(player + " is banned!")
    continue
    print(player)

  else:
    players.append(player)


print("\nYour team:")
for player in players:
  print(player)

Enter 'quit' when you're done.Dylon

Enter 'quit' when you're done.Harry

Enter 'quit' when you're done.eve
eve is banned!

Enter 'quit' when you're done.eve
eve is banned!

Enter 'quit' when you're done.John

Enter 'quit' when you're done.quit

Your team:
Dylon
Harry
John